/.idea/.idea.GraphU/.idea/.gitignore
/.idea/.idea.GraphU/.idea/indexLayout.xml
/.vs/GraphU/DesignTimeBuild/.dtbcache.v2
/.vs/GraphU/FileContentIndex/1cb44911-b2c7-4495-a212-47a73dbdbaa6.vsidx
/.vs/GraphU/FileContentIndex/6202da79-8d49-4724-81f7-eb210a6f3414.vsidx
/.vs/GraphU/FileContentIndex/d879803c-1a93-494a-a112-6e816047acac.vsidx
/.vs/GraphU/FileContentIndex/fee1a63a-7e05-4b8e-813f-f499422c7bc2.vsidx
/.vs/GraphU/FileContentIndex/read.lock
/.vs/GraphU/v17/.futdcache.v2
/.vs/GraphU/v17/.suo
/.vs/GraphU/v17/.wsuo
/.vs/GraphU/v17/workspaceFileList.bin
/.vs/ProjectEvaluation/graphu.metadata.v6.1
/.vs/ProjectEvaluation/graphu.projects.v6.1
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
